@import "src/assets/styles/colors.scss";

.stepper {
  display: flex;

  &__step {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 140px;
    position: relative;
    height: 50px;

    &--current {
      p {
        font-weight: bold;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 60px;
      left: calc(50% + 10px);
      height: 1px;
      width: 100%;
      background-color: $white;
    }

    &:first-of-type {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 60px;
        right: calc(50% + 10px);
        height: 1px;
        width: 50%;
        background-color: $light-grey;
      }
    }

    &:last-of-type {
      &::after {
        background-color: $light-grey;
        width: 50%;
      }
    }

    &-icon {
      width: 40px;
      height: 40px;
      background-color: $white;
      border-radius: 50%;
      z-index: 2;

      &--current {
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          background-color: $orange;
          width: 30px;
          height: 30px;
          top: 12.5%;
          left: 12.5%;
          border-radius: 50%;
        }
      }
    }

    p {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}
