@import "../../../../assets/styles/colors.scss";

.join-allowlist {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 1em;

  h2 {
    width: 100%;
    color: $dark-grey;
    font-size: 32px;
    line-height: 36px;
  }

  label {
    color: $dark-grey;
    margin-top: 10px;
  }

  .input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    &__wrapper {
      width: 100%;
    }

    input {
      width: 100%;
    }
  }

  .btn {
    margin-top: 10px;
  }

  &__success-message {
    text-align: center;
    margin-top: 20px;

    h2 {
      font-size: 32px;
      line-height: 36px;
      color: $dark-grey;
    }

    p {
      color: $dark-grey;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
