@mixin col($size) {
  width: percentage($size / 12);
  display: flex;
}

@mixin make-size($size) {
  .col-#{$size} {
    &-1 {
      @include col(1);
    }

    &-2 {
      @include col(2);
    }

    &-3 {
      @include col(3);
    }

    &-4 {
      @include col(4);
    }

    &-5 {
      @include col(5);
    }

    &-6 {
      @include col(6);
    }

    &-7 {
      @include col(7);
    }

    &-8 {
      @include col(8);
    }

    &-9 {
      @include col(9);
    }

    &-10 {
      @include col(10);
    }

    &-11 {
      @include col(11);
    }

    &-12 {
      @include col(12);
    }
  }
}

.col {
  &-1 {
    @include col(1);
  }

  &-2 {
    @include col(2);
  }

  &-3 {
    @include col(3);
  }

  &-4 {
    @include col(4);
  }

  &-5 {
    @include col(5);
  }

  &-6 {
    @include col(6);
  }

  &-7 {
    @include col(7);
  }

  &-8 {
    @include col(8);
  }

  &-9 {
    @include col(9);
  }

  &-10 {
    @include col(10);
  }

  &-11 {
    @include col(11);
  }

  &-12 {
    @include col(12);
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  @include make-size("xs"); }

@media (min-width: 426px) and (max-width: 767px) {
  @include make-size("sm"); }

@media (min-width: 768px) and (max-width: 1039px) {
  @include make-size("lg"); }

@media (min-width: 1040px) and (max-width: 1440px) {
  @include make-size("xl"); }

.row {
  @include col(12);

  flex-wrap: wrap;
}
