@import "../../assets/styles/colors.scss";

.home-page {
  .upcoming-events {
    background-color: $dark-grey;
    padding: 40px 20% 80px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: $white;
      }
    }

    &__list {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-item {
        height: 250px;
        width: calc(50% - 10px);
        position: relative;

        &:hover {
          cursor: pointer;
        }

        .image-placeholder {
          position: absolute;
        }
      }
    }

    &__about {
      margin-top: 40px;

      p {
        color: $white;
        font-weight: bold;
      }

      .purple {
        margin-top: 20px;
        color: $purple;
      }
    }

    &__purchase {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &-item {
        width: calc(50% - 10px);
        border: 1px solid $dark-grey75;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;

        &-img-container {
          height: 250px;
          width: 250px;
          margin-bottom: 40px;
        }

        &-address {
          margin-top: 20px;
        }

        .orange {
          color: $orange;
        }

        h1,
        p,
        li {
          color: $white;
          width: 100%;
        }

        ul {
          padding-left: 0;
          margin-top: 20px;
          list-style: none;

          li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;

            svg {
              margin-right: 25px;
            }
          }
        }

        .btn {
          width: 200px;
        }
      }

      &-charity {
        width: 100%;
        margin-top: 40px;

        p {
          color: $white;
          text-align: center;
          font-weight: normal;
        }
      }
    }
  }

  .featured-event {
    background-color: $dark-grey;
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;

    &__col {
      width: 30%;
      margin-left: 10px;
      margin-right: 10px;

      p {
        color: $white;
      }

      h1 {
        color: $white;
        white-space: pre-line;
        line-height: 42px;
        margin-bottom: 20px;
      }

      h2 {
        p {
          margin-top: 10px;
          font-weight: bold;
        }
      }

      &-description {
        margin-top: 20px;
        color: $white;
      }

      .btn {
        margin-top: 40px;
        width: 200px;
      }
    }
  }
}

@media (max-width: 1039px) {
  .home-page {
    .upcoming-events {
      padding-left: 20px;
      padding-right: 20px;

      &__purchase {
        &-item {
          width: 100%;
          margin-top: 20px;
        }
      }
    }

    .featured-event {
      flex-flow: wrap-reverse;

      &__col {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: center;

        h1 {
          width: 30%;
          display: flex;
        }

        &-hosted-by {
          width: 30%;
        }

        .image-placeholder {
          height: 565px;
        }
      }
    }
  }
}
