@import "../../assets/styles/colors.scss";

.home-page {
  .carousel {
    &-status {
      left: 0;
      bottom: 0;
      top: auto;
      font-size: 16px;
      line-height: 20px;
      width: 268px;
      background-color: black;
      padding: 34px 24px 32px 72px;
    }

    &-arrow {
      &-prev,
      &-next {
        position: absolute;
        border-radius: 0;
        background-color: transparent;
        bottom: 24px;
        z-index: 10;
        left: 130px;
        border-top: none;
      }

      &-next {
        left: 194px;
      }
    }
  }

  .charity {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      max-height: 100vh;
      filter: brightness(0.5);
    }

    &__mint {
      margin-top: 20px;

      h3 {
        margin-top: 20px;
      }

      & > div {
        display: flex;

        .btn:first-of-type {
          margin-top: 0;
          margin-right: 0;
          margin-left: 20px;
        }
      }
    }

    &__content {
      position: absolute;
      top: 25%;
      width: 50%;
      margin-left: 72px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      h1 {
        white-space: pre-line;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 32px;
        line-height: 36px;
        white-space: pre-wrap;
      }

      h3 {
        font-size: 20px;
        line-height: 36px;
      }

      &-description {
        white-space: pre-wrap;
        margin-top: 20px;
      }

      .btn {
        margin-top: 40px;
        width: 200px;

        &:first-of-type {
          margin-right: 20px;
        }
      }
    }
  }

  .about {
    background: transparent linear-gradient(233deg, $dark-grey 0%, #000 100%) 0% 0% no-repeat padding-box;
    padding: 88px 72px;
    min-height: 100vh;
    flex-wrap: wrap;

    &__cols-wrapper {
      flex-wrap: wrap;
    }

    &__header {
      p {
        text-transform: uppercase;
        position: relative;

        &::after {
          position: absolute;
          height: 1px;
          width: calc(100% - 56px);
          background-color: $white;
          content: "";
          display: block;
          right: 0;
          top: 45%;
        }
      }
    }

    &__footer {
      justify-content: center;
      align-self: flex-end;
    }

    &__col {
      color: $dark-grey50;
      padding-left: 12px;
      padding-right: 12px;
      margin-top: 6px;
      flex-wrap: wrap;
      height: fit-content;

      &:first-of-type {
        padding-left: 0;
        padding-top: 0;
      }

      &:last-of-type {
        padding-right: 0;
        padding-left: 12px;
      }

      h3 {
        color: $success;
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin: 0;

        li {
          display: flex;
          margin-top: 24px;
        }
      }

      p {
        color: $dark-grey50;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 20px;
        width: 100%;

        &.bold {
          color: $white;
          font-weight: bold;
        }

        a {
          color: $white;
          font-weight: bold;
        }
      }

      &-perk-icon {
        margin-right: 8px;
      }

      .contact {
        .btn {
          width: 100%;

          a {
            display: flex;
            justify-content: space-around;
            width: 100%;
            align-items: center;
          }

          &:hover {
            & > a {
              color: $dark-grey;
            }

            svg {
              path {
                fill: black;
              }
            }
          }

          &:last-of-type {
            margin-top: 24px;
            margin-bottom: 24px;
          }
        }
      }
    }
  }

  .membership {
    background: transparent linear-gradient(233deg, #F3722D 0%, #C11CAE 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-wrap: wrap;
    padding: 88px 72px;

    &__heading {
      text-transform: uppercase;
      position: relative;
      width: calc(20% - 24px);
      height: 20px;
      margin-right: 24px;

      &::after {
        position: absolute;
        height: 1px;
        width: 50%;
        background-color: $white;
        content: "";
        display: block;
        right: 0;
        top: 45%;
      }
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
    }

    &__description {
      margin-bottom: 40px;

      .bold {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__items-container {
      justify-content: space-between;
    }

    &__item {
      padding: 0 12px;
      flex-wrap: wrap;

      &-img-container {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #000;
        padding: 24px;
        padding-top: 0;
        width: 100%;
        height: 390px;
        text-align: center;

        .btn {
          width: 100%;
          margin-top: 24px;
        }

        img,
        video {
          width: 225px;
          height: 225px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &-minted {
        color: $dark-grey50;
        text-transform: uppercase;
      }

      &-address {
        font-family: KarlaBold, "Open Sans", sans-serif;
        font-weight: bold;

        .bold {
          font-family: KarlaBold, "Open Sans", sans-serif;
        }
      }

      h3,
      p {
        width: 100%;
      }

      ul {
        list-style: none;
        background-color: $white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 24px;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        height: calc(100% - 390px);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        li {
          display: flex;
          align-items: flex-start;
          margin-bottom: 20px;
          width: 100%;
          font-size: 14px;
          line-height: 18px;

          p {
            color: $dark-grey;
            font-family: KarlaBold, "Open Sans", sans-serif;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          svg {
            margin-right: 8px;
          }
        }

        .btn {
          display: flex;
          align-self: flex-end;
          justify-self: flex-end;
          margin-top: 32px;
        }
      }
    }
  }
}

.schedule-list {
  padding-left: 0;
  list-style: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  span,
  li,
  p,
  h2 {
    color: $dark-grey;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:first-of-type {
      margin-top: 20px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &-description {
      box-shadow: 0 3px 5px #96989929;
      background-color: $white;
      border-radius: 5px;
      margin-left: 10px;
      padding: 10px;
      width: 420px;

      .orange {
        color: $orange;
      }

      .purple {
        color: $purple;
      }

      .grey {
        color: $dark-grey50;
        font-size: 14px;
      }

      .light-grey {
        color: $dark-grey25;
      }

      .bold {
        font-weight: bold;
        font-family: KarlaBold, "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 1040px) {
  .home-page {
    .charity {
      &__mint {
        & > div {
          flex-wrap: nowrap;

          .btn:first-of-type {
            margin-top: 0;
          }
        }
      }

      &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        top: 0;
        width: 100%;
        max-height: 100%;
        padding: 24px;
        padding-bottom: 112px;
        overflow: scroll;
        margin-left: 0;
        margin-right: 0;


        h1 {
          width: 100%;
          display: flex;
        }

        &-hosted-by {
          width: 100%;
        }

        .image-placeholder {
          height: 565px;
        }
      }
    }

    .about {
      padding: 44px 24px;

      &__header {
        p {
          width: 100%;
        }
      }
    }

    .membership {
      padding: 44px 24px;

      &__heading {
        width: 100%;
      }

      &__content {
        width: 100%;
      }

      &__item {
        margin-top: 12px;

        &-img-container {
          height: 414px;
        }

        &:last-of-type {
          margin-top: 48px;
        }
      }
    }
  }
}
