@import "../../assets/styles/colors.scss";

.subscribe {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $white;
  max-height: 500px;
  transition: all 0.5s ease-in;

  &--hidden {
    max-height: 0;
    padding: 0;
    transition: all 0.5s ease-out;
  }

  h1 {
    width: 100%;
    text-align: center;
  }

  &__input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    .btn {
      margin-left: 10px;
    }
  }

  &__error {
    width: 100%;
    color: $error;
    margin-top: 10px;
    text-align: center;
  }

  &__success-message {
    text-align: center;
  }
}
