@import "../../assets/styles/colors.scss";

.carousel-root {
  max-width: 100vw;
}

.event-list-item {
  &__outer-container {
    justify-content: center;
  }

  position: relative;
  width: 100%;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 40%;

    &-hosted-by {
      width: 100%;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 20px;
      width: 100%;
    }

    h2 {
      font-size: 32px;
      line-height: 36px;
      white-space: pre-wrap;
    }

    h3 {
      font-size: 20px;
      line-height: 24px;
    }

    p {
      width: 100%;
    }

    &-description {
      white-space: pre-wrap;
      margin-top: 20px;
    }

    &__buttons {
      display: flex;
      align-items: center;
    }

    .btn {
      margin: 40px 20px 0 0;
      width: 200px;

      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 1040px) {
  .event-list-item {
    &__content {
      width: 100%;
      flex-wrap: wrap;
      padding: 44px 36px;
      justify-content: center;
      max-height: 100%;

      &-date {
        width: 100%;
      }

      h1 {
        width: 100%;
        display: flex;
        font-size: 40px;
        line-height: 44px;
      }
    }
  }
}

@media (max-width: 767px) {
  .event-list-item {
    &__content {
      padding-top: 24px;

      h1 {
        margin-bottom: 12px;
      }

      &-hosted-by {
        margin-bottom: 12px;
      }
    }
  }
}
