@import "../../assets/styles/colors.scss";

.event-list-item {
  position: relative;

  img {
    width: 100%;
    border-radius: 5px;
    filter: brightness(0.5);
  }

  &__content {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    top: 25%;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;

    h1 {
      white-space: pre-line;
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 32px;
      line-height: 36px;
      white-space: pre-wrap;
    }

    h3 {
      font-size: 20px;
      line-height: 36px;
    }

    &-description {
      white-space: pre-wrap;
      margin-top: 20px;
    }

    .btn {
      margin-top: 40px;
      width: 200px;

      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 1040px) {
  .event-list-item {
    flex-flow: wrap-reverse;

    &__mint {
      & > div {
        .btn:first-of-type {
          margin-top: 0;
        }
      }
    }

    .image-placeholder {
      height: 565px;
    }

    &__content {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 20px;
      justify-content: center;

      &:last-of-type,
      &:first-of-type {
        margin-left: 0;
        margin-right: 0;
      }

      h1 {
        width: 100%;
        display: flex;
      }

      &-hosted-by {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .event-list-item {
    & &__content {
      &:last-of-type,
      &:first-of-type {
        margin-left: 0;
        margin-right: 0;
      }

      .btn {
        width: 100%;

        &:first-of-type {
          margin-right: 0;
        }

        &:last-of-type {
          margin-top: 20px;
        }
      }
    }
  }
}
