@use "../assets/styles/colors.scss";

.app {
  width: 100%;
  min-height: 100vh;

  &__header {
    &-featured-event {
      margin-top: 40px;
      display: flex;
      justify-content: center;

      &-col {
        width: 30%;
        margin-left: 10px;
        margin-right: 10px;

        p {
          color: $white;
        }

        h1 {
          color: $white;
          white-space: pre-line;
          line-height: 42px;
          margin-bottom: 20px;
        }

        h2 {
          p {
            margin-top: 10px;
            font-style: bold;
          }
        }

        &-description {
          margin-top: 20px;
          color: $white;
        }

        .btn {
          margin-top: 40px;
          width: 200px;
        }
      }
    }
  }
}
