@import "../../assets/styles/colors.scss";

.home-page {
  .upcoming-events {
    background-color: $dark-grey;
    padding: 40px 20% 80px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: $white;
      }
    }

    &__list {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-item {
        min-height: 250px;
        width: calc(50% - 10px);
        position: relative;

        .image-placeholder {
          position: absolute;
        }
      }
    }

    &__about {
      margin-top: 40px;

      p {
        color: $white;
        font-weight: bold;
      }

      & &--purple {
        margin-top: 20px;
        color: $purple;
      }
    }

    &__purchase {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

      &-item {
        width: calc(50% - 10px);
        border: 1px solid $dark-grey50;
        padding: 20px;
        border-radius: 5px;

        &-img-container {
          height: 200px;
          width: 250px;
          margin-bottom: 40px;
        }

        & &-address {
          color: orange;
          margin-top: 20px;
        }

        h1,
        p,
        li {
          color: $white;
        }

        ul {
          padding-left: 0;
          list-style: none;
        }

        .btn {
          width: 200px;
        }
      }
    }
  }

  .featured-event {
    background-color: $dark-grey;
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;

    &__col {
      width: 30%;
      margin-left: 10px;
      margin-right: 10px;

      p {
        color: $white;
      }

      h1 {
        color: $white;
        white-space: pre-line;
        line-height: 42px;
        margin-bottom: 20px;
      }

      h2 {
        p {
          margin-top: 10px;
          font-weight: bold;
        }
      }

      &-description {
        margin-top: 20px;
        color: $white;
      }

      .btn {
        margin-top: 40px;
        width: 200px;
      }
    }
  }

  .subscribe {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $white;

    h1 {
      width: 100%;
      text-align: center;
    }

    &__input-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .btn {
        margin-left: 10px;
      }
    }
  }
}
