@import "../../assets/styles/colors.scss";

.header {
  flex-flow: row;
  padding-top: 20px;
  background-color: $dark-grey;

  &__logo-container {
    padding-left: 40px;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__logo-container {
      padding-left: 20px;
    }
  }
}
