@import "../../assets/styles/colors.scss";

.footer {
  background: transparent linear-gradient(241deg, $purple 0%, $orange 100%) 0% 0% no-repeat padding-box;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 19.5%;
  padding-right: 19.5%;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;

  &__heading {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__bottom {
    align-self: flex-end;
    justify-self: flex-start;
    width: 100%;
  }
}

@media (max-width: 1039px) {
  .footer {
    padding: 20px;

    &__heading {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      h1 {
        width: 100%;
        text-align: center;
      }

      .stepper {
        margin-top: 40px;
      }
    }
  }
}
